* {
  margin: 0;
  padding: 0;
}

#grid_container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr 1fr / repeat(2, 1fr) repeat(2, 0.5fr);

  grid-template-areas:
    "logo menu . ."
    "contents contents aside aside"
    ". footer footer .";
  /* grid-template-areas:
    "logo logo menu menu . ."
    "contents contents contents contents aside aside"
    "contents contents contents contents aside aside"
    "contents contents contents contents aside aside"
    ". . footer footer footer ."; */
}

#grid_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo {
  grid-area: logo;
  background-color: blueviolet;
}
.menu {
  grid-area: menu;
  background-color: yellowgreen;
}
.contents {
  grid-area: contents;
  background-color: coral;
}
.aside {
  grid-area: aside;
  background-color: cadetblue;
}
.footer {
  grid-area: footer;
  background-color: deeppink;
}
