* {
  margin: 0;
}

.grid {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  height: 100vh;
  background-color: lightcyan;
}

.grid div:nth-child(odd) {
  background-color: cadetblue;
}

/* 다른 방법 */
/* 
* {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(9, 1fr);
}

.container div {
    background-color: cadetblue;
}

.container div:nth-child(2n) {
    opacity: .3;
} */
