
.container {
    width: 430px;
    background-color: red;
    /* display: inline-block; */
}

.container div {
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    line-height: 100px;
    color:white;    
    float: left;
}


.container div:nth-child(-n + 12) {
    margin-bottom: 10px;
}

.container div:not(:nth-child(4n)) {
    margin-right: 10px;
}

.container::after {
    content: "";
    display: block;
    clear: left;
}